@import 'mixins';

$frame-count: 5;
$frame-width: 60px;
$frame-offset: 1;

.skeleton {
  position: absolute;
  bottom: 155px;
  left: 70px;
  background: url('../images/skeleton-sprite.png');
  width: 60px;
  height: 60px;
  &.look-left{
    @include prefix(transform, scaleX(-1));
  }
}


$image-width: 1027px / 2;

.background {
  background-image: url('../images/background.jpg');
  width: $image-width;
  height: 180px;
  position: absolute;
  bottom: 0;
}

.final-message {
  position: absolute;
  bottom: 198px;
  left: 187px;
  opacity: 0;
  @include prefix(transition, opacity 3s linear 2s);
  &.visible {
    opacity: 1
  }
}

.unknown {
  margin-top: -40px;
  opacity: 0;
  @include prefix(transition, opacity 100ms linear);
  &.visible {
    opacity: 1
  }
}
